.product {
	max-height: 180px;
	background-color: #CDCDCD;
	margin: 5px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;

	> .details {
		flex: 3;
		margin: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		> div {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	> .child {
		flex:1;
		margin:5px;
	}

	> .image-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;

		> .image { 
			height: 100%;
			max-width: 100%;
		}
	}
}